body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
  background-color: rgb(247, 230, 177);
  padding: 20px 10px 100px 40px;
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}